
body
{
width:1100px;
background:lightblue;
max-width:95%;
margin:auto;
}

section{
height:500px;
background:rgb(200,200,200)

}

article{

width:1000px;
background:rgb(0,255,0)
{

width:1100px;
background:rgb(215, 215, 255);
max-width:95%;
margin:auto;
}

section{
height:500px;
}
h1
{
float:left;
color:rgb(100,100,150);
margin:0;

}

header h2{
text-allign:center;
font-weight:normal;
color:rgb(50,50,200);



}
section{
background:rgb(255,215,215);
padding:10px 100px;
}





section h2
{


text-align:center;
color:rgb(0,100,15);
}

p
{
color:rgb(128,0,0);
}
article
{
background:rgb(255,255,255);
float:left;
width:29.3%
margin:1%;
padding:1%;
height:200px;   

}
h3
{   
color:rgb(255,0,0);
}

li

{color:rgb(0,0,255);
}

footer
{

allign:center;
color-background:rgb(0,0,255);
clear:left;
padding:25px;
}
</style>

h1 {
  color: navy;
  margin-left: 20px;
}

